<!-- Navbar Principal -->
<nav class="bg-white shadow-sm px-6 py-3 flex items-center justify-between">
   <!-- Esquerda: Olá, Usuário (apenas se logado) -->
  <div *ngIf="authService.isLoggedIn()" class="relative group">
    <button class="flex items-center gap-2 text-gray-700 text-sm font-medium">
      <i class="bi bi-person-circle text-xl"></i>
      Olá, {{ username }}
    </button>
      <!-- Dropdown com botão de sair -->
  <ul
    class="absolute left-0 mt-2 w-40 bg-white border rounded shadow-md opacity-0 group-hover:opacity-100 transition-opacity duration-200 z-10 text-sm">
    <li>
      <button
        (click)="logout()"
        class="w-full text-left px-4 py-2 hover:bg-gray-100 text-red-600 font-medium">
        Sair
      </button>
    </li>
  </ul>

  </div>


  <!-- Centro: Título -->
  <div class="text-xl font-bold text-gray-800">
    <a routerLink="/" class="text-mb text-blue-600  px-4 py-3 ">LuxosNav</a>
  </div>

  <!-- Direita: Busca, Carrinho, Conta -->
  <div class="flex items-center gap-4">
    <!-- Campo de busca -->
    <div class="relative">
      <input
        type="text"
        placeholder="Buscar produtos..."
        class="border rounded-full px-4 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <i class="bi bi-search absolute right-3 top-1.5 text-gray-500 text-sm"></i>
    </div>

    <!-- Carrinho -->
    <div class="relative">
      <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.5 7h13L17 13M7 13h10"/>
      </svg>
        <span
        class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-bold rounded-full px-1.5">
        0
      </span>
    </div>
  </div>
</nav>

